{% extends 'base/base.html' %}
{% block head %}
    <div class="col-md-3"></div>
    <div class="col-md-6 up-m">
        <center>
                <h1 class="fonttitle">Loft Blog</h1>
                <h3 class="fontm">"{{ tag.name }}"</h3>
        </center>
           </div>
    <div class="col-md-3"></div>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="container-fluid postcolor up">
        <div class="container up down">
      <h3>Recent Posts</h3>
        {% for post in recent %}
        <div class="row" style="padding-left: 20px;">
        <!-- Set the link for recent posts. -->
        <h4><a href="{{ url_for('main.post', post_id=post.id) }}">{{ post.title }}</a></h4>
                <div class="post-footer">
                    <a href="{{ url_for('main.post', post_id=post.id) }}#comments">
                        <span class="label label-primary">{{ post.comments.count() }} CMT</span>
                    </a>
                    {{momentjs(post.timestamp).fromNow()}}
                </div>
            </div>
        {% endfor %}
      </div>
            <br>
    </div>
           <div class="container-fluid postcolor up">
            <div class="container up down">
      <h3>Popular Tags</h3>
        {% for tag in top_tags %}
        <p><a href="{{
          url_for('main.tag', tag_name=tag[0].name,page=1)
          }}"><span class="glyphicon glyphicon-tag" > {{ tag[0].name }}</span></a></p>
        {% endfor %}
    </div>
        </div>
    </div>
    <div class="col-md-7">
        {% for post in posts.items %}
        <div class="container-fluid postcolor up">
           <div class="container-fluid">
            <div class="row mleft mright">
                <div class="col-lg-12">
                    <h2>{{ post.title }}</h2>
                    <p>author: <a href="{{ url_for('main.user', username=post.author.username,page=1) }}">
                        {{ post.author.username }}</a> | {{momentjs(post.timestamp).format('LLLL')}}</p>
                    <hr>
                </div>
            </div>
            <div class="row down mleft mright">
                <div class="col-lg-12">
                    {{ post.body | truncate(225) | safe }}
                    <br>
                    <br>
                    <!-- Set the link for read more -->
            </div>
                <div class="col-lg-12">
               <p class="text-right"> <a href="{{
          url_for('main.post', post_id=post.id)
          }}" class="btn btn-default">Read More</a></p>
                </div>

            </div>
        </div>

    </div>
     {% endfor %}
                <ul class="pager">
    {% if posts.has_prev %}
        <li class="previous"><a href="{{ url_for('main.tag', tag_name=tag.name,page = posts.prev_num) }}">&larr; Newer</a></li>
    {% else %}
        <li class="previous disabled"><a href="#">&larr; Newer</a></li>
    {% endif %}
    {% if posts.has_next %}
        <li class="next"><a href="{{ url_for('main.tag', tag_name=tag.name,page = posts.next_num) }}">Older &rarr;</a></li>
    {% else %}
        <li class="next disabled"><a href="#">&larr; Newer</a></li>
    {% endif %}
</ul>
        </div>
     <div class="col-md-1"></div>
</div>
{% endblock %}