<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>您访问到页面不存在</title>
<meta name="from" content="git:NIE/nie-zt-404-20150826">
<meta name="keywords" content="您访问到页面不存在">
<meta name="description" content="您访问到页面不存在">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport">

<link type="text/css" rel="stylesheet" href="../static/css/base.css" media="all">
<link type="text/css" rel="stylesheet" href="../static/css/index_c211cbd.css">
<style type="text/css">
.adbase-ctn { background: url(images/loading.png) center center no-repeat; }
</style>
</head>

<body>

<!--SEO start-->

<h1 class="hidden"></h1>
<h2 class="hidden"></h2>

<!--SEO end-->

  <div class="content">
    <div class="top">
      <div class="sign">Oooops this page is not found，<br>
        but we provid some <span class="fontRed">Intersting game for you</span> </div>
      <a class="index-btn" href="/"></a> </div>
    <div class="top_phone"></div>
    <div class="game">
      <div class="ready twinkling" style="display: none;"></div>
      <div class="yellow-wrap yellowMoving">
        <div class="yellow yellowRotate">
          <div class="openClose"></div>
        </div>
      </div>
      <div class="red-wrap redMoving">
        <div class="red bigSmall">
          <div class="eye1 eyeMove"></div>
          <div class="eye2 eyeMove"></div>
        </div>
      </div>
      <div class="oranger">
        <div class="eye3 eyeMove"></div>
        <div class="eye4 eyeMove"></div>
      </div>
      <div class="purple">
        <div class="eye5 eyeMove"></div>
        <div class="eye6 eyeMove"></div>
      </div>
      <div class="blue">
        <div class="eye7 eyeMove"></div>
        <div class="eye8 eyeMove"></div>
      </div>
      <span class="span1"></span> <span class="span2"></span> <span class="span3"></span> <span class="span4"></span> <span class="span5"></span> <span class="span6"></span> <span class="span7"></span> <span class="span8"></span> <span class="span9"></span> <span class="span10"></span> <span class="span11"></span> <span class="span12"></span> <span class="span13"></span> </div>
  </div>
  <a href="/" class="btn-phone"></a>

<script charset="gb2312" src="../static/js/jquery(mixNIE).last.js"></script>
<script type="text/javascript" charset="gb2312" src="../static/js/script_5b27ce6.js"></script>

</body>
</html>