{% extends 'base/base.html' %}
{% block head %}
    <div class="col-md-3"></div>
    <div class="col-md-6 up-m">
        <center>
                <h1 class="fonttitle">Privacy and Cookies</h1>
        </center>
           </div>
    <div class="col-md-3"></div>
{% endblock %}
{% block content %}
    <div class="col-sm-3"></div>
    <div class="col-sm-6 backcolor up-max mleft mright down">
    <div class="container-fluid up mleft mright down">
     <h2>PRIVACY AND COOKIES POLICY</h2>
        <br>
        <h4><b>1.What about cookies?</b></h4>

        <p class="siz text-justify"><b>1 1</b>We and/or third parties use cookies and other tracking technologies on our website.
        A cookie is an identifier (a small file of letters and numbers) that is sent to your computer.
            Our website's functionality will be limited if you configure your browser to reject cookies.</p>
        <p class="siz text-justify"><b>1.2</b> Cookies are widely used to make websites work, or work more efficiently,
            as well as to provide information to the website owner or others. Session cookies are temporary cookies
            that remain in the cookie file of your browser only until your browser is closed.
            They allow websites to link your actions during a browser session. Persistent cookies stay in the cookie
            file of your browser for longer (how long will depend on the lifetime of the specific cookie). For further
            information on cookies, including how to use your browser to block them and how to delete cookies already
            stored on your device, visit: www.allaboutcookies.org.</p>
        <br>
        <h4><b>2. The following kinds of cookies may be used on this website:</b></h4>

        <p class="siz text-justify"><b>a) Session cookies</b> These enable us to keep track of your movement from page to page and store your
    selections so you do not get asked repeatedly for the same information.
    They allow you to proceed through many pages of the site quickly and easily without having to
    authenticate or reprocess each new area you visit. For example, a session cookie remembers your shopping cart
    selection so you will have the items you selected when you are ready to check out.</p>
        <p class="siz text-justify"><b>b) Remember_token cookies</b> This cookie will store your login status</p>
    </div>
    </div>
</div>
<div class="col-sm-3"></div>
{% endblock %}